<GridLayout class="page page-content" rows="*, auto" columns="*">
    <ContentView height="100%" width="100%" col="0" row="0">
        <Mapbox
            accessToken="pk.eyJ1IjoiZXRhYmFrb3YiLCJhIjoiY2o5c29qdnA5NmthNjJxcXFiN2RxMG1qMCJ9.xNUu5J82C7VqDBTUwpcuIQ"
            mapStyle="traffic_day"
            latitude="42.698334"
            longitude="23.319941"
            hideCompass="true"
            zoomLevel="10"
            showUserLocation="true"
            disableZoom="false"
            disableRotation="false"
            disableScroll="false"
            disableTilt="false"
            (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>
    <Label [text]="markerDetails" col="0" row="1" style="background-color: black; color: white"></Label>
</GridLayout>