<GridLayout class="page"
    rows="*, auto"
    columns="*">
    <MapView 
        rowSpan="2"
        [latitude]="42.698334"
        [longitude]="23.319941"
        [zoom]="13"
        (mapReady)="onMapReady($event)"
        (coordinateTapped)="onCoordinateTapped($event)"
        (shapeSelect)="onShapeSelect($event)"
        (cameraChanged)="onCameraChanged($event)"></MapView>

    <StackLayout row="1">
        <sensor-details *ngIf="selectedSensor"
            [sensor]="selectedSensor"
            (toggle)="toggleFav($event)"></sensor-details>
    </StackLayout>
</GridLayout>